.GridBox {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

.BoxRow {
    display: flex;
}

.BoxRowNumbers {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
    padding-bottom: 4px;
    border: 1px solid #80808080;
    border-radius: 5px;
}

.BoxRowNumbers.failed {
    background-color: #00000020;
    pointer-events: none;
}

.BoxRowResults {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    margin-left: 15px;
    border-bottom: 1px solid #80808090;
    border-radius: 25px;
}

.Box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 30px;
    border-bottom: 1px solid black;
    margin: 0px 7.5px;
}

.Box.active {
    border-bottom: 1px solid #ff7919;
}

.Circle {
    margin: 5px;
}

.boxInput {
    width: 80%;
    height: 80%;
    border: none;
    caret-color: transparent;
    background: none;
}

.boxInput:focus-visible {
    outline: none;
}