.Header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 15px;
    margin: 0 auto;
    border-bottom: 1px solid #00000040;
    font-size: 18px;
}

.instructions {
    margin-right: 15px;
}

.leaderboard {
    margin-left: 15px;
}

.titleText {
    margin: 0px;
}