.Overlay {
    position: fixed;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: #00000040;
    z-index: 9999999;
}

.overlayContent {
    position: absolute;
    top: 10%;
    right: 20%;
    left: 20%;
    padding: 30px;
    background-color: white;
}

.overlayCloseIcon {
    position: absolute;
    top: 5px;
    right: 5px;
}
