.Overlay {
    position: fixed;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: #00000060;
    z-index: 9999999;
}

.overlayContent {
    position: absolute;
    text-align: left;
    top: 14.7%;
    right: 31.5%;
    left: 31.5%;
    padding: 30px;
    background-color: white;
}

.overlayCloseIcon {
    position: absolute;
    top: 5px;
    right: 5px;
}
