

.App {
  display: flex;
  justify-content: center;
  margin-top: 15px;
  columns: 2;
  text-align: center;
  font-family:  Helvetica, sans-serif;
}

.gameData {
  display: flex;
  flex-direction: column;
  margin-right: 30px;
}

.gameMetrics {
  display: flex;
  justify-content: center;
  align-items: top;
  font-weight: lighter;
  font-size: 34px;
  width: 300px;
  height: 50px;
  margin: 0 auto;
}

.legend {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 0.5px solid black;
}

.safeAnimation {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 300px;
  margin: 0 auto;
  padding: 0;
}


.secretNumbersDisplay {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  width: 300px;
  height: 30px;
  font-size: 40px;
}

.superSecretReveal {
  text-align: center;
  font-size: 30px;
  letter-spacing: 15px;
  margin-bottom: 5px;
}

.replayPrompt {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  width: 300px;
  height: 300px;
  top: 20%;
  right: 20%;
  bottom: 20%;
  left: 20%;
  border: 0.5px solid #00000057;
  border-radius: 5px;
  margin: 0 auto;
  padding: 90px;
  font-size: 30px;
  background-color: white;
  z-index: 999999;
}

.finalScoreDisplay {
  display: flex;
  justify-content: center;
  font-size: 24px;
  border-bottom: 1px solid Black;
}

.winAnimation svg {
  width: 15%;
  margin: 0 auto;
}

.replayButton {
  border: none;
  background-color: #8bfae9;
  border-radius: 5px;
  padding: 20px;
  cursor: pointer;
  font-size: 0.7em;
}

