

.App {
  display: flex;
  justify-content: center;
  margin-top: 15px;
  columns: 2;
  text-align: center;
  font-family:  Helvetica, sans-serif;
}

.gameData {
  display: flex;
  flex-direction: column;
  margin-right: 30px;
}

.gameMetrics {
  display: flex;
  justify-content: center;
  align-items: top;
  font-weight: lighter;
  font-size: 34px;
  width: 300px;
  height: 50px;
  margin: 0 auto;
}

.safeAnimation {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 300px;
  margin: 0 auto;
  padding: 0;
}


.secretNumbersDisplay {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 30px;
  font-size: 40px;
}

.superSecretReveal {
  font-size: 16px;
}

.replayPrompt {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  top: 30%;
  left: 45%;
  border: 0.5px solid #00000057;
  border-radius: 5px;
  margin: 0 auto;
  padding: 65px;
  font-size: 30px;
  background-color: white;
  z-index: 999999;
}

.finalScoreDisplay {
  font-size: 24px;
  border-bottom: 1px solid Black;
  margin-bottom: 15px;
}

